In [63]:
#importing libraries 
import numpy as np
import pandas as pd 
import tensorflow as tf
import matplotlib.pyplot as plt

In [64]:
#reading the file 
df = pd.read_csv("full_data.csv")

In [65]:
#importing label encoder.
#used for transforming the  
from sklearn.preprocessing import LabelEncoder
labels = LabelEncoder()

In [66]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [67]:
#code to convert the non numeric data into the numeric data
#converting all the columns into the numeric values.

df['work_type']=labels.fit_transform(df['work_type'])
df['smoking_status']=labels.fit_transform(df['smoking_status'])
df['ever_married']=labels.fit_transform(df['ever_married'])
df['Residence_type']=labels.fit_transform(df['Residence_type'])

#after all converting the gender into the 0 and 1.
df['gender']=labels.fit_transform(df['gender'])

In [68]:
#checking if the data is normailized or not.
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,1,1,228.69,36.6,1,1
1,1,80.0,0,1,1,1,0,105.92,32.5,2,1
2,0,49.0,0,0,1,1,1,171.23,34.4,3,1
3,0,79.0,1,0,1,2,0,174.12,24.0,2,1
4,1,81.0,0,0,1,1,1,186.21,29.0,1,1

In [69]:
#splitting the columns into x and y for the test and train 
x = df.iloc[:,0:10].values
y = df.iloc[:,10].values

In [70]:
#testing if the data is splitted correctly or not
y

array([1, 1, 1, ..., 0, 0, 0])

In [71]:
#dividing the data into test train split by giving the ratios
#we use 30% test, train split.
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.3 ,random_state = 0 )

In [72]:
#fitting the data test and train of the data 
from sklearn.preprocessing import StandardScaler
s = StandardScaler()
x_train = s.fit_transform(x_train)
x_test = s.fit_transform(x_test)

In [73]:
##importing the random forest classifer and pass the data to the random forest
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=100,random_state = 0 )
classifier.fit(x_train,y_train)

RandomForestClassifier(random_state=0)

In [74]:
#get the predictions of the dataset 
y_pred =classifier.predict(x_test)

In [75]:
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [76]:
#testing the accuracy of the model
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
print(accuracy_score(y_test,y_pred))

0.954515050167224

In [78]:
#printing the results infront of Each other
# creating 2 DataFrames
ent1 = pd.DataFrame(y_test)
ent2 = pd.DataFrame(y_pred)
  
# concatenating the DataFrames
det = pd.concat([ent1,ent2], join = 'outer', axis = 1)
  
# displaying the DataFrame
print(det)

      0  0
0     0  0
1     0  0
2     0  0
3     0  0
4     0  0
...  .. ..
1490  0  0
1491  0  0
1492  0  0
1493  0  0
1494  0  0

[1495 rows x 2 columns]